In [1]:
#carregar o conjunto de dados
import pandas as pd
arquivo = pd.read_csv('wine_dataset.csv')

In [12]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [9]:
arquivo['style'] = arquivo['style'].replace('red', 0)
arquivo['style'] = arquivo['style'].replace('white',1)

In [13]:
#Separar as variáveis entre labels e target
y = arquivo['style']
x = arquivo.drop('style',axis=1) #axis = 1 significa que é uma operação nas colunas, no caso estou a apagar a coluna do target

In [16]:
y

0       0
1       0
2       0
3       0
4       0
       ..
6492    1
6493    1
6494    1
6495    1
6496    1
Name: style, Length: 6497, dtype: int64

In [18]:
x.shape, y.shape

((6497, 12), (6497,))

In [17]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

In [22]:
from sklearn.ensemble import ExtraTreesClassifier
#Criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

#Resultados:
acurracy = modelo.score(x_teste,y_teste)
print(f"Acurracy: {acurracy:.5f}")

Acurracy: 0.99692

In [23]:
y_teste[400:403] # os números de indices não são 400 a 403 porque o a função train_test split faz uma divisão aleatória e não pega por ordem.

1724    1
3526    1
2244    1
Name: style, dtype: int64

In [24]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
1724,6.7,0.19,0.36,1.1,0.026,63.0,143.0,0.9912,3.27,0.48,11.0,6
3526,7.1,0.25,0.28,1.6,0.052,46.0,169.0,0.9926,3.05,0.41,10.5,5
2244,6.3,0.26,0.25,7.8,0.058,44.0,166.0,0.9961,3.24,0.41,9.0,5

In [25]:
previsoes = modelo.predict(x_teste[400:403])
previsoes

array([1, 1, 1], dtype=int64)